*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{
    padding: 10px 0 10px 0;
}

.font{
    font-family: 'Inter', sans-serif;
}
.titles{
    font-size: larger;
    font-weight: bold;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: rgb(227, 223, 223);
}

.bg-blue{
    background-color: rgba(23, 195, 233, 0.594);
}

.box1{
    width:80px;
    height: 30px;
    display: inline-block;
    border-radius: 10%;
    margin: 5px 0 5px 60px;
    text-align: center;
    line-height: 30px;

}

.box2{
    width:100px;
    height:30px;
    display: inline-block;
    border-color: rgb(170, 169, 169);
    border-style: ridge;
    border-width: 1px;
    border-radius: 10%;
    margin: 5px 0 5px 5px;
    text-align: center;
    line-height: 30px;
}

.m5{
    margin:20px 0 20px 60px;
}

.m20{
    margin:30px 200px 0 200px;
    border-radius: 1%;
}

.costum-icon-list{
    list-style: none ;
}

.costum-icon-list li::before{
    content: "";
    display: inline-block;
}

.icongreen{
    color: green;
    border-style: ridge;
    border-width: 1px;
    border-color: green;
    border-radius: 50%;
    text-align: center;
    margin: 5px 10px 5px 0;
    font-size: small;
    padding:2px 3px 2px 3px;
}

.iconred{
    color: red;
    border-style: ridge;
    border-width: 1px;
    border-color: red;
    border-radius: 50%;
    text-align: center;
    margin: 5px 10px 5px 0;
    font-size: small;
    padding:2px 1px 2px 1px;

}
.icons{
    padding:1px 3px 1px 3px;
    height: 20px;
    display: inline-block;
    border-radius: 27%;
    margin: 5px 0 5px 5px;
    text-align: center;
    line-height: 20px;
    color:white;
    font-size: x-small;

}

.editorial-icon{
    background-color: rgb(31, 167, 221);
    
}

.q1-icon{
    background-color: rgb(132, 31, 221);
}

.recruite-icon{
    background-color: rgb(23, 228, 173);
}

.mobile-icon{
    background-color: rgb(241, 113, 15);
}

.web-icon{
    background-color: rgb(197, 21, 132);
}

.sales-icon{
    background-color: rgb(28, 179, 66);
}
#logo-toboo{
    width:300px;
    padding: 10px 0 10px 25px;
}